h2{
    color: #fefefe;
    padding: 20px 0;
    margin: 0;
    background-color: #222;
    width: 100%;
    height: 30px;
    text-align: center;
}
.todo-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-right: solid 1px #888;
    width: 50%;
}
input{}